//used for pin declerations


//define type of cnc, printer or cnc
SystemType = "3DPRINTER";
//define number of extruders
NumExtruders = 1;
//Extruder 1
Extruder1HeaterPin = 23;
Extruder1ThermisterPin = 15;
Extruder1StepPin = 31;
Extruder1DirPin = 26;
IsExtruder1Inverted = "true";
Extruder1StepsPerMM = 97;
Extruder1StepsPerRevolution = 3200;
Extruder1StandardSpeed = 3200;

//define xyz axis pins
XMotorStepPin = 5;
XMotorDirPin = 4;
YMotorStepPin = 14;
YMotorDirPin = 21;
ZMotorStepPin = 6;
ZMotorDirPin = 10;

//xyz steps per revolutions
XStepsPerRevolution = 3200;
YStepsPerRevolution = 3200;
ZStepsPerRevolution = 3200;

//standard  speeds
XStandardSpeed = 3000;
YStandardSpeed = 3000;
ZStandardSpeed = 150;
XMaxSpeed = 8500;
YMaxSpeed = 8500;
ZMaxSpeed = 150;

//steps per mm
XStepsPerMM = 80;
YStepsPerMM = 80;
ZStepsPerMM = 2267.68;

IsXAxisInverted = "false";
IsYAxisInverted = "false";
IsZAxisInverted = "false";

//define limits
XLimitPin = 9;
IsXLimitInverted = "false";
YLimitPin = 8;
IsYLimitInverted = "false";
ZLimitPin = 7;
IsZLimitInverted = "true";
ZLimitOffset = -11;
ZRaiseBeforeReset = 25;

//PSU
IsUsingPSU = "true";
//define PSU pin
PSUPin = 27;


//temperature sensor type, THERMISTER or THERMOCOUPLE
Extruder1TemperatureReaderType = "THERMISTER";
//Thermister Info, readerType is ADC or CAP_TIMER
Extruder1ThermisterReaderType = "CAP_TIMER";
//Thermister ADC CS pin
Extruder1ThermisterADC_CS_PIN =
SPI_SCK_PIN =
SPI_MOSI_PIN =
SPI_MISO_PIN =
