//used to set speeds, debug outputs, stuff that will not be dirextly hardware related
Resolution = .05;
BufferLength = 2000;
ShouldPathPlan = "false";
//path planning settings

StartXSpeed = 3000;
StartYSpeed = 3000;

MaxAccelXSpeed = 5000;
MaxAccelYSpeed = 5000;

XAccel = 100;
YAccel = 100;
XDeccel = 200;
YDeccel = 200;

ShouldAccel = "false";
MinDistMMToAccel = 3;
